[submodule "packages/afo-core"]
	path = packages/afo-core
	url = https://github.com/lofibrainwav/AFO_Kingdom.git
[submodule "packages/dashboard"]
	path = packages/dashboard
	url = https://github.com/lofibrainwav/AFO_Kingdom.git
[submodule "packages/sixXon"]
	path = packages/sixXon
	url = https://github.com/lofibrainwav/AFO_Kingdom.git
[submodule "packages/trinity-os"]
	path = packages/trinity-os
	url = https://github.com/lofibrainwav/AFO_Kingdom.git
[submodule "trinity-dashboard"]
	path = trinity-dashboard
	url = https://github.com/lofibrainwav/AFO_Kingdom.git
